:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(20, 25, 31, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search {
  position: fixed; /* Change to fixed to position it at the top */
  top: 0; /* Position it at the top */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%); /* Center it horizontally */
  background-color: rgba(20, 25, 31, 1);
  /*background-color: #262A2F;*/
  width: 100%; /* Adjust width */
  max-width: 1676px; /* Add max-width for responsiveness */
  height: 150px; /* Reduce height */
  padding: 20px; /* Add padding */
  box-sizing: border-box; /* Include padding in the width/height calculation */
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  flex-direction: column; /* Align items vertically */
}

.search .search-title {
  text-align: center;
  font-size: 36px; /* Reduce font size */
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #fff; /* Set color to pearl white */
  margin-top: 0px;
}

.search .search-bar {
  background-color: rgba(196, 196, 196, 0.1);
  height: 35px; /* Reduce height */
  border-radius: 5px;
  width: 80%; /* Adjust width */
  max-width: 800px; /* Add max-width for responsiveness */
  margin-top: 0px; /* Adjust margin top to fit search title */
}

.search .search-input {
  background: transparent;
  border: none;
  outline: none;
  margin-top: 0px; /* Reduce margin top */
  margin-left: 10px; /* Adjust margin left */
  font-size: 18px; /* Reduce font size */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: calc(100% - 20px); /* Adjust width */
}
.explore {
  background: rgba(20, 25, 31, 1);
  padding: 10px 30px;
  margin-top: 150px;
  margin-left: 60px;
  margin-right: 150px;
  display: flex;
  justify-content: center;
  gap: 20px; /* Add gap between cards */
  width: 100%;
  overflow-x: hidden;
}

.card {
  background-color: rgba(196, 196, 196, 0.1);
  border: 3px solid transparent;
  border-radius: 8px;
  margin: 4px;
  text-align: center;
  width: 180px; /* Reduce width of cards */
  height: 280px; /* Reduce height of cards */
  max-width: 250px;
}

.card:hover {
  border-color: #ff781f;
}
h1 {
  font-size: 2.3em;
}
.sidebar {
  position: fixed;
  top: 150px; /* Adjust according to search div height */
  left: 0;
  width: 150px; /* Adjust width as needed */
  height: calc(
    100vh - 170px
  ); /* Calculate height based on remaining viewport height */
  background-color: rgba(20, 25, 31, 1);
  padding: 30px 20px;
  font-size: 24px;
  color: white;
}
.info {
  position: fixed;
  background-color: rgba(20, 25, 31, 1);
  height: 920px;
  width: 358px;
  top: 150px; /* Adjust top position based on the height of the search div */
  left: calc(
    50% + 450px
  ); /* Adjust left position to position it to the right of the explore section */
}
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  overflow: hidden;
  max-width: 1200px; /* Adjust maximum width as needed */
  width: 100%;
  position: absolute;
  background-color: rgba(20, 25, 31, 1);
  padding: 20px 30px; /* Add padding for spacing */
  border-radius: 10px;
  left: 515px; /* Position the carousel starting from the sidebar's end */
  right: 160px; /* Leave margin on the right */
  overflow-x: hidden;
}

.cards-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.navigation-buttons {
  position: absolute;
  right: 400px; /* Adjust position as needed */
  top: 50%; /* Align to the middle of the carousel */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-buttons button {
  margin: 5px 0; /* Adjust vertical margin */
  background: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  margin-top: 40px;
}

.navigation-buttons button:focus {
  outline: none; /* Remove focus outline */
}
